form{
	text-align: center;
	margin:auto 0;
}




	  justify-content:
}
#qw{
	font-family: 'Amatic SC', cursive;
}

.hello{
	font-family: 'Amatic SC', cursive;
}

body{
	background-color: red;
}